@use "variables" as vars;
@use "mixins" as mixins;

.site-footer {
    background-color: vars.$dark-color;
    color: vars.$white-color;
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: center;

    p {
        margin: 0;
    }

    @include mixins.respond(mobile) {
        font-size: 0.9rem;
    }
}
