@use "variables" as vars;
@use "mixins" as mixins;
@use "header/header";
@use "footer";
@use "home";
@use "gallery/gallery";
@use "about-us";
@use "course";

a {
    text-decoration: none;
    color: vars.$dark-color;
    transition: color 0.3s ease;

    &:hover {
        color: vars.$primary-color;
    }
}

body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    overflow-y: scroll;

    &:hover > a {
        color: vars.$primary-color;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    .slides {
        @include mixins.flex(flex-start);

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        img {
            max-width: 100%;
            height: auto;
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            object-fit: cover;
        }
    }

    .slider-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .indicator {
        width: 30px;
        height: 8px;
        border-radius: 4px;
        background-color: rgb(255 255 255 / 50%);
        transition: background-color 0.3s ease;
        cursor: pointer;

        &.active {
            background-color: rgb(255 255 255 / 90%);
        }
    }

    @include mixins.respond(mobile) {
        .slides {
            gap: 0.5rem;
        }
    }
}

@media (width <= 1028px) {
    .slider {
        display: none;
    }
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: vars.$primary-color;
    color: vars.$white-color;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

select {
    padding: 10px 20px;
    width: 200px;
    border: 1px solid vars.$border-light-color;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    appearance: none;
}

option {
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: vars.$primary-color;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: vars.$primary-color;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: vars.$primary-color;
    margin-bottom: 0.5rem;
}

.main-content {
    min-height: 100vh;
}
