@use "../variables" as vars;
@use "../mixins" as mixins;

.site-header {
    .logo {
        justify-self: start;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: vars.$primary-color;

        img {
            height: 32px;
            width: auto;
        }
    }
}
